<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
    <span class="home">
        <a href="{{ base_path }}/">Home</a>
    </span>
    <span class="links">
        <a href="{{ base_path }}/blog/">Blog</a>
        <a href="{{ base_path }}/news/">News</a>
        <a href="{{ base_path }}/contact/">Contact</a>
        <a href="{{ base_path }}/about/">About</a>
    </span>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<!-- obfuscation from https://www.hcidata.info/obfuscate-email-address.htm -->
<p>&copy; {{ current_year }} <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#122;&#114;&#117;&#100;&#121;&#116;&#64;&#104;&#111;&#116;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#122;&#114;&#117;&#100;&#121;&#116;&#64;&#104;&#111;&#116;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a></p>
<p>
    <a href="https://github.com/zrudyt" target="_blank">GitHub</a>
    <a href="https://reddit.com/u/DarthRazor" target="_blank">Reddit</a>
    <a href="https://twitter.com/rudyt" target="_blank">Twitter</a>
</p>
</section>
</footer>

</body>
</html>
