/* General */
html {
	background: black ;
	padding-bottom: 50px; /* amount of white space after footer to max scroll */
}

/*
body {
	margin: 0;
	line-height: 1.5em;
	color: #333333;
	font-family: helvetica, arial, sans-serif;
}
*/

body {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: #011 ;
	color: #CCC;
	border-style: solid;
	border-width: 5px;
	border-color: #555;
}

main {
	padding: 1em ;
}

img {
	max-width: 100%;
	height: auto;
}

/*
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	line-height: 1.2em;
	margin-top: 1em;
}
*/

h1,h2,h3,h4 {
	text-align: center;
}

h1 {
	font-size: 48px;
	text-shadow: 3px 0 black, 3px 3px black, 0 3px black ;
	color: #00CCFF ;
}

h2 {
	color: #00BBDD ;
}

h3 {
	color: #00AABB ;
}

a {
	color: #ADD8E6; /* lightblue */
}

a:link, a:visited {
	color: lightblue; /* was #0000E0; */
	text-decoration : none
}

a:hover, a:active {
	color: #0000FF;
	text-decoration : underline
}

style.css

pre {
	border: 1px solid lime ;
	border-radius: 14px ;
	padding: 1em ;
	margin: 1em ;
	white-space: pre-wrap;
}

code {
	border-radius: 5px ;
	overflow-wrap: break-word ;
}

code:not(pre code) {
	color: lime ;
}

/* Single column layout */
nav section, header section, main, footer section {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0.5em;
}

/* Navigation panel */
nav {
	background: #333333;
	border-bottom: thin solid #111111 ;
	line-height: 3em;
}

nav a {
	margin-right: 1em;
}

nav a:link, nav a:visited {
	color: lightblue; /* was #CCCCCC; */
}

nav a:hover, nav a:active {
	color: blue; /* was #FFFFFF; */
	text-decoration : none;
}

@media screen and (min-width: 600px) {
	nav .links {
		float: right;
	}

}

/* Footer */
footer {
	background: black; /* was #F0F0F0; */
	border-top: thin solid #E0E0E0 ;
	margin-top: 2em;
	padding: 1em 0;
	box-shadow: 0 100vh 0 100vh #F0F0F0 ;
	text-align: center;
}

footer section p {
	font-size: 0.8em;
}

footer a {
	margin-right: 1em;
}

/*
footer a:last-child {
	margin-right: 0;
	color: lightblue;
	style.css
}
*/

/* Posts */
article {
	margin-top: 1em;
	margin-bottom: 1em;
}

article h2 a:link, article h2 a:visited,
article h1 a:link, article h1 a:visited,
.more:link, .more:visited {
	color: #333333;
}

article h2 a:hover, article h2 a:active,
article h1 a:hover, article h1 a:active,
.more:hover, .more:active {
	color: #777777;
}

p.meta {
	margin-top: 0;
	font-size: 0.8em;
	color: #777777;
	font-style: italic;
}

p.summary {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

div .more {
	margin-top: 0;
	font-weight: bold;
}

/* RSS */
.rss {
	padding: 0.3em 0.35em;
	border-radius: 0.25em;
	font-size: 0.75em;
	font-weight: bold;
}

.rss:link, .rss:visited, .rss:hover, .rss:active {
	color: #FFFFFF;
	text-decoration : none;
}

.rss:link, .rss:visited {
	background: #FF6600;
}

.rss:hover, .rss:active {
	background: #FF8822;
}
